<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de usuario</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="body">
    <header class="header">
        <img class = "logo" src="./images/logo-mercado-liebre.svg">
    </header>
    <main class="main">
        <section class="formulario">
            <form action="/ingreso" method="get">
                <p class="item"><label>Nombre de usuario </p><p><input type="text" name="usuario" minlength="2" required class="texto"></label></p>
                <p class="item"><label>Contraseña </p><p><input type="password" name="password" id="password" required class="texto"></label></p>
                <p class="item"><button type="submit" class="boton-enviar boton">Enviar</button></p>
            </form>
        </section>
    </main>
        </div>
        </form>
    </main>
</body>
</html>