<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body class="body">
    <header class="header">
        <img class = "logo" src="./images/logo-mercado-liebre.svg">
    </header>
    <main class="main">

    <section class="formulario">
        <form action="/registro" method="POST">

            <p class="item"><label>Nombre y Apellido </p><p><input type="text" name="nombre" minlength="2" class="texto"></label></p>

            <p class="item"><label>Nombre de usuari@ </p><p><input type="text" name="usuario" minlength="2" class="texto"></label></p>

            <p class="item"><label>Email </p><p><input type="email" name="email" class="texto"></label></p>

            <p class="item"><label>Fecha de Nacimiento</p>
                <p><input type="date" name="fechaNacimiento" class="fecha"></label></p>

            <p class="item"><label>Domicilio </p><p><input type="text" name="domicilio" class="texto"></label></p>

            <p class="item"><label for="perfil">Querés comprar o vender?</label></p>
            <p class="item"><input type="radio" name="perfil" value="vender"> Vender</p>
            <p class="item"><input type="radio" name="perfil" value="Comprar"> Comprar</p>

            <p class="item"><label for="intereses">Seleccioná tus categorías de interés</label></p>
            <p class="item"><input type="checkbox" name="intereses" id="intereses" value="electro"> Electro</p>
            <p class="item"><input type="checkbox" name="intereses" id="intereses" value="moda"> Moda</p>
            <p class="item"><input type="checkbox" name="intereses" id="intereses" value="hogar"> Hogar</p>
            <p class="item"><input type="checkbox" name="intereses" id="intereses" value="juguetes"> Juguetería</p>
            <p class="item"><input type="checkbox" name="intereses" id="intereses" value="vidaSana"> Vida Sana</p>

            <p class="item"><label>Subí tu foto de perfil </p>
                <p><input type="file" name="fotoUser" id="fotoUsuario" accept=".jpg,.png,.bmp" class="boton-foto"></label></p>

            <p class="item"><label>Contraseña </p><p><input type="password" name="password" id="password" class="texto"></label></p>

            <p class="item"><label>Confirmar contraseña </p><p><input type="password" name="passwordCheck" id="passwordCheck" class="texto"></label></p>

            <p class="item"><button type="submit" class="boton-enviar boton">Enviar</button>
                <button type="reset" class="boton-borrar boton">Borrar</button></p>

        </form>
    </section>
    </main>
</body>
</html>